// Updated basic colors
$blue: #00adef;
$yellow: #ffc107;
$white: #fff;
$red: #dc3545;
$green: #28a745;

// Additional basic colors
$request-block-background: #eee;

// Updated theme colors
$secondary: #80868c;
$info: $blue;

// Additional theme colors
$lco-dark-blue: #0b3053;
$neutral: #8a6d3b;
