// Updated basic colors
$blue: #065c99;
$yellow: #ffc107;
$white: #fff;
$red: #dc3545;
$green: #28a745;

// Updated theme colors
$secondary: #80868c;
$info: #8a6d3b;

// Additional theme colors
$lco-dark-blue: #0b3053;
